############ Markdown
snippet bd "bold text" i
**$1** $2
endsnippet

snippet i "italic text" i
*$1* $2
endsnippet

snippet kojs "javscript block code" i
\`\`\`js
$1
\`\`\`

$2
endsnippet

snippet kosh "shell block code" i
\`\`\`sh
$1
\`\`\`

$2
endsnippet

snippet ko "general block code" i
\`\`\`$1
$2
\`\`\`

$3
endsnippet

snippet lk "link" i
[$1]($2)$3
endsnippet
############ End of Markdown

############ General
snippet / "splitter" i
/////////////$1
endsnippet
############ End of General
