snippet doc "doc block" i
@doc """
$1
"""
endsnippet

snippet df "def block" i
def $1 do
  $2
end
endsnippet

snippet dfp "defp block" i
defp $1 do
  $2
end
endsnippet

snippet do "do end block" i
do
  $1
end
endsnippet

snippet dfm "defmodule block" i
defmodule $1 do
  $2
end
endsnippet

### ExDoc
snippet mdc "@moduledoc" i
@moduledoc """
$1
"""
endsnippet

