snippet t "Add a simple HTML tag" b
<${1:div}>
	$2
</$1>
endsnippet

snippet cm "Add HTML comment"
<!-- $1 -->
endsnippet

snippet cmm "Add HTML section comment"
<!-- $1 -->
	$2
<!-- End of $1 -->
endsnippet
